
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

//############ variables #################//

$DesaturatedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
$DarkGrayishRed: hsl(0, 6%, 24%);

// * {
//   border: 0.3px solid yellow;
// }


body{
  font-family: 'Josefin Sans', sans-serif;
  margin:0;
  background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  
  color:$DarkGrayishRed;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // height: 100%;
}

.logo{
  height: calc(85rem/16);
  display: flex;
  place-items: center;
  padding-inline-start: calc(31/375*100vw);
  box-sizing: border-box;

}

.heroImg{
  // width:100%;
  aspect-ratio: 375 / 252;



  img{
    width: 100%;
    // height: auto;
  }
  .desktopHero{
    display:none;
  }
}

.messages{
  text-align: center;
  padding: calc(66/16*1rem) 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;


  .firstrow, .secondrow{
    font-size: calc(39/16*1rem);
    text-transform: uppercase;
   
    letter-spacing:0.3em;
    

  }

  .firstrow{
    font-weight:300;
    color:$DesaturatedRed;
  }
  .secondrow{
    font-weight: 600;
    line-height: 1.4;
  }

  .shortMsg{
    font-size: calc(13/16*1rem);
    letter-spacing: 0.04em;
    line-height: 1.9;
    width:calc(300/375*100%);
    margin:auto;
  }

  .inputEmail{
    height: 48px;
    border-radius: 30px;
    width: calc(313/375*100vw);
    border:1px solid $DesaturatedRed;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;

    input{
      border:none;
      margin-left: 25px;
      font-family: inherit;
      letter-spacing: 0.04em;
      font-size: calc(14/16*1rem);
      background-color: transparent;
      position: relative;
      display: block;
      width:57%
    }

    button{
      height: 100%;
      border-radius: inherit;
      width: 65px;
      border: none;
      // background-color: $SoftRed;
      background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));;
    }

    
  }

  .warningMsg{
    display:block;
      position:absolute;
      bottom: -30px;
      font-size:  calc(14/16*1rem);
      margin-left:27px;
      color:$SoftRed;
      visibility:hidden;
  }

  .warning{
    visibility:hidden;
  }
}

@media only screen and (min-width: 768px) {

  :root{
    height: 100vh;
  }

  body{
    background-image: url(/images/bg-pattern-desktop.svg);
    background-size: cover;
  }



  .container{
    display: grid;
    grid-template-areas: 'left1 right'
                         'left2 right';
    column-gap: 0;
    justify-content: space-between;
    padding-inline-start: calc(168/1440*100vw);
  }

  .logo{
    grid-area: left1;
    height:calc(168/16*1rem);
    padding:0;
  }

  .messages{
    grid-area: left2;
    // width:calc(830/1440*100vw);
    text-align: left;
    height: fit-content;
    padding:0;
    box-sizing: border-box;
    
    .firstrow, .secondrow{
      font-size: calc(61/16*1rem);
      text-transform: uppercase;
      width:calc(363/1440*100vw);
      letter-spacing:0.3em;
      
  
    }

    .shortMsg{
      font-size: calc(17/16*1rem);
      width:calc(500/1440*100vw);
      margin:0;
    }

    .inputEmail{
      
      width: calc(445/1440*100vw);
      margin:0;
    }
  }

  .heroImg{
    grid-area: right;
    width:calc(610/1440*100vw);
   
    

    .desktopHero{
      display: block;
            
      img{
        height: 100%;
      }
    }

    .mobileHero{
      display: none;
    }
  }


}
