@import url(d:\izma\belajar\1. web developer\kumpulan project\frontend mentor\newbie\2. base-apparel-coming-soon-master\2. base-apparel-coming-soon-master\base-apparel-coming-soon-master\styles\reset.css);
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  background-image: linear-gradient(135deg, white, #fff5f5);
  color: #413a3a;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo {
  height: calc(85rem/16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-padding-start: calc(31/375*100vw);
          padding-inline-start: calc(31/375*100vw);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heroImg {
  aspect-ratio: 375 / 252;
}

.heroImg img {
  width: 100%;
}

.heroImg .desktopHero {
  display: none;
}

.messages {
  text-align: center;
  padding: calc(66/16*1rem) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.messages .firstrow, .messages .secondrow {
  font-size: calc(39/16*1rem);
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.messages .firstrow {
  font-weight: 300;
  color: #ce9797;
}

.messages .secondrow {
  font-weight: 600;
  line-height: 1.4;
}

.messages .shortMsg {
  font-size: calc(13/16*1rem);
  letter-spacing: 0.04em;
  line-height: 1.9;
  width: calc(300/375*100%);
  margin: auto;
}

.messages .inputEmail {
  height: 48px;
  border-radius: 30px;
  width: calc(313/375*100vw);
  border: 1px solid #ce9797;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.messages .inputEmail input {
  border: none;
  margin-left: 25px;
  font-family: inherit;
  letter-spacing: 0.04em;
  font-size: calc(14/16*1rem);
  background-color: transparent;
  position: relative;
  display: block;
  width: 57%;
}

.messages .inputEmail button {
  height: 100%;
  border-radius: inherit;
  width: 65px;
  border: inherit;
  background-color: #f96262;
}

.messages .warningMsg {
  display: block;
  position: absolute;
  bottom: -30px;
  font-size: calc(14/16*1rem);
  margin-left: 27px;
  color: #f96262;
  visibility: hidden;
}

.messages .warning {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'left1 right' 'left2 right';
    -webkit-column-gap: 0;
            column-gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-padding-start: calc(168/1440*100vw);
            padding-inline-start: calc(168/1440*100vw);
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left1;
    height: calc(168/16*1rem);
    padding: 0;
  }
  .messages {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: left2;
    text-align: left;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .messages .firstrow, .messages .secondrow {
    font-size: calc(61/16*1rem);
    text-transform: uppercase;
    width: calc(363/1440*100vw);
    letter-spacing: 0.3em;
  }
  .messages .shortMsg {
    font-size: calc(17/16*1rem);
    width: calc(500/1440*100vw);
    margin: 0;
  }
  .messages .inputEmail {
    width: calc(445/1440*100vw);
    margin: 0;
  }
  .heroImg {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: right;
    width: calc(610/1440*100vw);
    height: 100vh;
    overflow: hidden;
  }
  .heroImg .desktopHero {
    display: block;
    height: 100%;
    min-width: 100%;
  }
  .heroImg .mobileHero {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */